{
  "extends": "vue",
  "plugins": [
    "vue",
    "html"
  ],
  "globals": {
    "__DEV__": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules":{
    "indent": 0
  }
}
